body, html{
  height:100%;
  font-family: 'Dancing Script', cursive;
  overflow: hidden;
}

html {
  background-color: #304035;
}
body {
  background: url(assets/forest-background.jpg) no-repeat center/contain;
  margin: 0px;
  font-size: 18px;
  /* position: relative; */
}
body, a:link, a:visited, a:active{
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.title, .addDancerButton, .clear, .lineUpButton {
  display: none;
  padding:5px 12px;
  font-size: 30px;
}
.title {
  margin-top: 0px;
}
.topbar{
  height:50px;
  text-align: center;
}

.dancer{
  border:10px solid red;
  border-radius:10px;
  position: absolute;
  top: 5;
  left: 20;
}

.gnomeDancer {
  position: absolute;
}

.gnomeDancerImg {
  height: 20px;
  width: 10px;
  position: absolute;
}

.fairyDancer {
  position: absolute;
}

.fairyDancerImg {
  /* -webkit-transform: scaleX(-1);
  transform: scaleX(-1); */
  height: 200px;
  width: 150px;
  transition-duration: 2s;
}
.fairyDancerImg:hover {
  /* -webkit-transform: scaleX(-1);
  transform: scaleX(-1); */
  height: 500px;
  width: 400px;
  /* animation-duration: 4s; */
}
.mute {
  float: right;
  position: fixed;
}

.butterflyDancer {
  position: absolute;
}

.butterflyDancerImg {
  height: 200px;
  width: 150px;
}

#forest-soundtrack, #gnome-sound, #fairy-sound {
  display: none;
}

.container {
  text-align: center;
}

.intro {
  display: inline-block;
  width: 100%;
  margin-top: 15%;
  font-size: 50px;

}

.partyButton {
  width: 100%;
  font-size: 50px;
  transition-duration: 500ms;
}

.partyButton:hover {
  font-size: 65px;
}

.animated {
  animation-duration: 2s;
  animation-fill-mode: both;
}

.animated.flip {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-animation-name: flip;
  animation-name: flip;
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes flip {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0)
      rotate3d(0, 1, 0, 0deg);
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}

.gnomeDancerImg {
  animation-iteration-count: infinite;
  animation-name: bounce;
  transform-origin: center bottom;
}